{% extends 'flatpages/default.html' %}

{% load my_filters %}
{% load my_tags %}
{% load i18n %}


{% block title %}
{% trans "Posts" %}
<h4>{{ category_post_list|length }}</h4>
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    {% if is_not_subscriber %}
        <button> <a href="{% url 'subscribe' category.id %}"> {% trans "Subscribe" %} </a></button>
    {% else %}
        <button> <a href="{% url 'unsubscribe' category.id %}"> {% trans "Unsubscribe" %} </a></button>
    {% endif %}
s
   <h3>{{ time_now|date:'M d Y' }}</h3>

   <hr>
   {% if category_post_list %}
       <table>
           <tr>
               <td>{% trans 'Title' %}</td>
               <td>{% trans 'Categories' %}</td>
               <td>{% trans 'Date' %}</td>
               <td>{% trans 'Content' %}</td>
           </tr>

           {% for post in category_post_list %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>
                   {% for category in post.category.all %}
                   <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>{{ post.date|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans 'No news yet ' %}</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}