{% extends 'flatpages/default.html' %}

{% load my_filters %}
{% load my_tags %}
{% load i18n %}
{% load tz %}

{% block title %}
<h1>{% trans 'Posts' %}</h1>
<h4>{{ posts|length }}</h4>
{% endblock title %}


{% block content %}

<!--   <h3>{{ time_now|date:'M d Y' }}</h3>-->
   <hr>
   {% if posts %}
       <table style="margin: 0 auto">
           <tr>
               <td width="200">{% trans 'Title' %}</td>
               <td width="150">{% trans 'Categories' %}</td>
               <td>{% trans 'Date' %}</td>
               <td width="200">{% trans 'Content' %}</td>
           </tr>

           {% for post in posts %}
           <tr>
               <td>{{ post.title|censor }}</td>
               <td>
                   {% for category in post.category.all %}
                   <a href="{% url 'category_list' category.id %}">{{ category }}</a>
                   {% endfor %}
               </td>
               <td>{{ post.date|date:'d M Y' }}</td>
               <td>{{ post.text|truncatechars:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans 'No news yet!' %}</h2>
   {% endif %}

   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content %}