{% extends "flatpages/default.html" %}
{% load i18n %}

{% block content %}
<h2>{% trans 'Page of authorised user' %} {{request.user.username}}</h2>
<div>
    {% trans 'Name' %}: {{ user.username }} <br>
    {% trans 'Email' %}: {{ user.email }} <br>
    {% trans 'Subscribed categories' %}:
    {% if user.categories %}
        {% for category in user.categories.all %}
            {{ category.name }}
        {% endfor %}
    {% else %}
        {% trans 'No subscribed category yet' %}
    {% endif %}
    <br>
    <br>
</div>
<button> <a href="{% url 'account_logout' %}">{% trans 'Exit' %}</a> </button>
{% if is_author %}
<button> <a href="upgrade/">{% trans 'Become an author' %}</a> </button>
{% endif %}
{% endblock %}