{% extends "flatpages/default.html" %}

{% block content %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div>
    Имя: {{ user.username }} <br>
    Почта: {{ user.email }} <br>
    Подписка на категории:
    {% if user.categories %}
        {% for category in user.categories.all %}
            {{ category.name }}
        {% endfor %}
    {% else %}
        Нет подписок
    {% endif %}
    <br>
    <br>
</div>
<button> <a href="{% url 'account_logout' %}">Выйти</a> </button>
{% if is_author %}
<button> <a href="upgrade/">Стать автором</a> </button>
{% endif %}
{% endblock %}